{% extends "base.html" %}

{%block title%} About digital product managment
{%endblock%} {% block body %}
<h2>about digital product management</h2>
</p>
<p>This course focuses on digital product management and the process of turning ideas into structured, user-focused products. It covers how to create Product Requirements Documents (PRDs), define user needs, and think through product functionality from both a business and technical perspective. The class emphasizes understanding how digital products are planned, designed, and developed, with a strong focus on solving real problems and creating efficient, practical solutions.</p>
</p>
<p>In addition to product strategy, the course also includes hands-on experience with web development. It introduces building websites using HTML and CSS, deploying projects through GitHub and Azure, and working with tools like Replit. Throughout the class, AI tools are used to support development, troubleshoot issues, and improve workflows. Overall, the course provides a strong foundation in both product management concepts and the technical skills needed to bring digital products to life..</p>
</p>


    {% endblock %}