{% extends "base.html" %} {% block body %}
<h2>about digital product Management</h2>
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptas itaque architecto obcaecati quidem eos eum, delectus ipsam sit! Repellendus quos nesciunt quis consectetur perspiciatis sapiente molestiae alias voluptatum aut..</p>
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptas itaque architecto obcaecati quidem eos eum, delectus ipsam sit! Repellendus quos nesciunt quis consectetur perspiciatis sapiente molestiae alias voluptatum aut..</p>
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptas itaque architecto obcaecati quidem eos eum, delectus ipsam sit! Repellendus quos nesciunt quis consectetur perspiciatis sapiente molestiae alias voluptatum aut..</p>
</p>

{% endblock %}